dash
dash-bootstrap-components
dash-core-components
dash-daq
dash-html-components
docstr-coverage
flake8
flake8-docstrings
flake8-html
ipykernel
jupyter-dash
myst-parser
nbsphinx
networkx
piccolo-theme
pip-tools
plotly
pre-commit
pytest
pytest-cov
sphinx
sphinx_copybutton